@import "tailwindcss";


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  width:100%;
  font-family: sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, ol{
  list-style: none;
}

img {
  width:100%;
  display: block;
}

/* 버튼 공통 CSS */
button {
  cursor: pointer;
}
button.cancle{

}
button.ok{

}
button.disable{

}

/* input CSS */
input {
  outline: none;
}

input[type=text] {
  font-size:1rem;
}

/* 체크 박스 관련 */
input[type="checkbox"] {
  /* 스타일 정해지면 주석 해제 */
  /* display: none; */  
}
input[type="checkbox"] + label.checkbox {

}
input[type="checkbox"]:checked + label.checkbox {

}

/* 라디오 버튼 관련 */
input[type="radio"] {
  /* 스타일 정해지면 주석 해제 */
  /* display: none; */  
}
input[type="radio"] + label.checkbox {

}
input[type="radio"]:checked + label.checkbox {

}

/* Textarea 공통 */
textarea {
  outline: none;
  resize: none;
  font-size:1rem;
}




.header-wrapper, .footer-wrapper{
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.content-wrapper{
  margin: auto;
  max-width: 1280px;
  width: 100%;
  
}
.content-wrapper > div {
  width:100%;
  min-height: 400px;
}

.nav_wrap ul {
  width: 100%;
  height:80px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav_wrap ul li {
  width:25%;
  height:100%;
  border:1px solid #fff;
  background-color:#00D563;
  color:#fff;
}

