/* 모바일 화면 */
@media screen and (max-width: 767px) {
  .modal-wrapper {
    width: 95% !important;
  }
  .Toastify__toast-container--bottom-center{
    top: env(safe-area-inset-top);
    transform: translate(0);
    bottom: 100%;
  }
}
